In [46]:
from dash import Dash, html, dcc, callback, Output, Input
import plotly.express as px
import pandas as pd

In [47]:
df = pd.read_csv('https://raw.githubusercontent.com/plotly/datasets/master/gapminder_unfiltered.csv')
df

          country continent  year  lifeExp       pop   gdpPercap
0     Afghanistan      Asia  1952   28.801   8425333  779.445314
1     Afghanistan      Asia  1957   30.332   9240934  820.853030
2     Afghanistan      Asia  1962   31.997  10267083  853.100710
3     Afghanistan      Asia  1967   34.020  11537966  836.197138
4     Afghanistan      Asia  1972   36.088  13079460  739.981106
...           ...       ...   ...      ...       ...         ...
3308     Zimbabwe    Africa  1987   62.351   9216418  706.157306
3309     Zimbabwe    Africa  1992   60.377  10704340  693.420786
3310     Zimbabwe    Africa  1997   46.809  11404948  792.449960
3311     Zimbabwe    Africa  2002   39.989  11926563  672.038623
3312     Zimbabwe    Africa  2007   43.487  12311143  469.709298

[3313 rows x 6 columns]

In [48]:
app = Dash()

In [49]:
app.layout=[
    html.H1(children='Title of the Dash App', style={'textAlign':'center'}),
    dcc.Dropdown(df.country.unique(), 'Canada', id='dropdown-selection'),
    dcc.Graph(id='graph-content')
]

In [50]:
@callback(
    Output('graph-content', 'figure'),
    Input('dropdown-selection', 'value')
)
def update_graph(value):
    dff = df[df.country==value]
    return px.line(dff,x='year', y='pop')

In [51]:
if __name__ == '__main__':
    app.run(debug=True)

In [52]:
from dash import Dash, html, dcc, callback, Output, Input, dash_table
import plotly.express as px
import pandas as pd

In [53]:
df = pd.read_csv('https://raw.githubusercontent.com/plotly/datasets/master/gapminder_unfiltered.csv')
print(df.head(20))
df.info()
df.count()

        country continent  year  lifeExp       pop    gdpPercap
0   Afghanistan      Asia  1952   28.801   8425333   779.445314
1   Afghanistan      Asia  1957   30.332   9240934   820.853030
2   Afghanistan      Asia  1962   31.997  10267083   853.100710
3   Afghanistan      Asia  1967   34.020  11537966   836.197138
4   Afghanistan      Asia  1972   36.088  13079460   739.981106
5   Afghanistan      Asia  1977   38.438  14880372   786.113360
6   Afghanistan      Asia  1982   39.854  12881816   978.011439
7   Afghanistan      Asia  1987   40.822  13867957   852.395945
8   Afghanistan      Asia  1992   41.674  16317921   649.341395
9   Afghanistan      Asia  1997   41.763  22227415   635.341351
10  Afghanistan      Asia  2002   42.129  25268405   726.734055
11  Afghanistan      Asia  2007   43.828  31889923   974.580338
12      Albania    Europe  1952   55.230   1282697  1601.056136
13      Albania    Europe  1957   59.280   1476505  1942.284244
14      Albania    Europe  1962   64.820   1728137  2312.888958
15      Albania    Europe  1967   66.220   1984060  2760.196931
16      Albania    Europe  1972   67.690   2263554  3313.422188
17      Albania    Europe  1977   68.930   2509048  3533.003910
18      Albania    Europe  1982   70.420   2780097  3630.880722
19      Albania    Europe  1987   72.000   3075321  3738.932735
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3313 entries, 0 to 3312
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   country    3313 non-null   object
 1   continent  3313 non-null   object
 2   year       3313 non-null   int64
 3   lifeExp    3313 non-null   float64
 4   pop        3313 non-null   int64
 5   gdpPercap  3313 non-null   float64
dtypes: float64(2), int64(2), object(2)
memory usage: 155.4+ KB

country      3313
continent    3313
year         3313
lifeExp      3313
pop          3313
gdpPercap    3313
dtype: int64

In [54]:
app = Dash()

app.layout= [
    html.H1(children= 'Title of Dash App', style={'textAlign': 'center'}),
    dash_table.DataTable(data=df.to_dict('records'), page_size=10),
    dcc.Graph(figure=px.histogram(df, x='continent', y='lifeExp', histfunc='avg')),
    dcc.Dropdown(df.country.unique(), 'Canada', id='dropdown-selection'),
    dcc.Graph(id='graph-content')
]

@callback(
    Output('graph-content', 'figure'),
    Input('dropdown-selection', 'value')
)
def update_fraph(value):
    dff= df[df.country==value]
    return px.line(dff,x='year', y='lifeExp')

if __name__ == '__main__':
    app.run(debug=True)

In [56]:
app = Dash()

app.layout= [
    html.Div(children="My First App with data, graph, and controls"),
    html.Hr(),
    dcc.RadioItems(options=['pop','lifeExp', 'gdpPercap'], value='lifeExp', id='controls-and-radio-item'),
    dcc.Graph(figure={}, id='controls-and-graph')
]

@callback(
    Output(component_id='controls-and-graph', component_property='figure'),
    Input(component_id='controls-and-radio-item', component_property='value')
)
def update_graph(col_chosen):
    fig = px.histogram(df, x='continent', y=col_chosen, histfunc= 'avg')
    return fig

if __name__ =='__main__':
    app.run(debug=True)

In [57]:
data = {
    '2021': {
        'Products': ['Laptops', 'Phones', 'Tablets', 'Watches'],
        'Sales': [1200, 1500, 800, 400]
    },
    '2022': {
        'Products': ['Laptops', 'Phones', 'Tablets', 'Watches'],
        'Sales': [1400, 1800, 1000, 600]
    },
    '2023': {
        'Products': ['Laptops', 'Phones', 'Tablets', 'Watches'],
        'Sales': [1600, 2000, 1200, 800]
    }
}


print(data)

{'2021': {'Products': ['Laptops', 'Phones', 'Tablets', 'Watches'], 'Sales': [1200, 1500, 800, 400]}, '2022': {'Products': ['Laptops', 'Phones', 'Tablets', 'Watches'], 'Sales': [1400, 1800, 1000, 600]}, '2023': {'Products': ['Laptops', 'Phones', 'Tablets', 'Watches'], 'Sales': [1600, 2000, 1200, 800]}}

In [60]:
app = Dash()

app.layout = html.Div([
    html.H1("Product Sales Dashboard",
            style={'textAlign': 'center', 'color':"#2c3e50", 'margin-bottom':'30px'}
            ),

            html.Div([
                html.Label('Select Year:'),
                dcc.RadioItems(
                    id='year-selector',
                    options=[
                        {'label': '2021', 'value': '2021'},
                        {'label': '2022', 'value': '2022'},
                        {'label': '2023', 'value': '2023'}
                    ],
                    value='2021',
                    style={'margin': '20px'}
                )
            ], style={'width':"50%", 'margin':'auto'}),

            dcc.Graph(id='sales-chart')

], style={'padding': '50px'})

@callback(
    Output('sales-chart', 'figure'),
    Input('year-selector', 'value')
)
def update_graph(selected_year):
    df = pd.DataFrame({
        'Products': data[selected_year]['Products'],
        'Sales': data[selected_year]['Sales']
    })

    fig = px.bar(
        df,
        x="Products",
        y="Sales",
        title=f'Product Sales in {selected_year}',
        color='Products',
        color_discrete_sequence = px.colors.qualitative.Set3
    )

    fig.update_layout(
        title_x=0.5,
        xaxis_title= "Products",
        yaxis_title= "Sales (Units)",
        plot_bgcolor='white',
        bargap=0.2
    )

    return fig

if __name__ == '__main__':
    app.run(debug=True)